
html { background-color: #f3f3f3;}
body { background-color: white; max-width: 600px; margin: 16px auto; padding: 32px; border-radius: 10px;}
img { max-width: 200px; height: fit-content; outline: 1px solid #eee}
.gallery { display: flex; flex-wrap: wrap; gap: 10px; }
.back-button { text-decoration: none }
